@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Mono&display=swap");

$heading: "PT Mono", monospace;
$body: "Open Sans", sans-serif;
$light-gray: #e5e5e5;
$dark-gray: #424242;
$blue: #359dd9;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body,
.header,
.sidebar {
  background-color: $light-gray;
  padding: 20px;
}

@mixin editButton {
  width: 100px;
  align-self: flex-end;
  padding: 8px;
  border: none;
  background-color: $blue;
  color: #fff;
  border-radius: 3px;
}

.header {
  grid-column: 1 / span 2;
  border-bottom: 2px dashed $dark-gray;
  .header__display {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: $heading;
    align-items: center;
    h1 {
      width: 100%;
      margin-bottom: 40px;
    }
    button {
      @include editButton();
    }
  }
  .header__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 10px;
    font-family: $body;
    .form__input {
      display: flex;
      flex-direction: column;
      width: 20%;
      flex-wrap: wrap;
      margin: 10px;
      &:first-child {
        width: 80%;
      }
      input {
        border: none;
        border-bottom: 1px solid #000;
        background-color: $light-gray;
      }
    }
    button {
      @include editButton();
      margin: 10px;
    }
  }
}

.sidebar {
  /* grid-column: 1 / span 1; */
  /*  height: 100vh; */
}

.App {
  width: 800px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
  height: 100vh;
}
