@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Mono&display=swap");

$heading: "PT Mono", monospace;
$body: "Open Sans", sans-serif;
$light-gray: #e5e5e5;
$dark-gray: #424242;
$blue: #359dd9;
$pink: #d9369d;
$small: 14px;
$medium: 16px;
$medium-large: 18px;
$large: 32px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $medium;
  font-family: $body;
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: $heading;
}

h2 {
  font-size: $medium-large;
}

.experience,
.header,
.sidebar {
  background-color: $light-gray;
  padding: 20px;
}

ul {
  list-style-type: circle;
  margin-left: 20px;
}

label {
  font-size: $small;
  display: block;
  padding-top: 10px;
}
article {
  position: relative;
  padding: 20px 0 40px;
}

.button--mode {
  width: 800px;
  color: #fff;
  border: none;
  background: $blue;
  padding: 10px 0;
  font-family: $heading;
  font-size: $large;
}

.button--edit {
  border: none;
  background-color: $light-gray;
  color: $blue;
  position: absolute;
  top: 0;
  right: 0;
}

.button--delete {
  border: none;
  background-color: $light-gray;
  color: $pink;
  position: absolute;
  top: 0;
  left: 0;
}

.button--add {
  background-color: #525252;
  color: #fff;
  border-radius: 3px;
  padding: 5px 0;
  width: 100%;
  border: none;
  display: block;
  margin: 0 auto;
}

.description {
  padding-bottom: 20px;
}

.header {
  grid-column: 1 / span 2;
  border-bottom: 2px dashed $dark-gray;

  .header__display {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

    h1 {
      width: 100%;
      margin-bottom: 40px;
      font-size: $large;
      font-family: $heading;
    }
    p {
      font-family: $heading;
    }
  }
  .header__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 10px;
    font-family: $body;
    position: relative;
    .form__input {
      display: flex;
      flex-direction: column;
      width: 20%;
      flex-wrap: wrap;
      margin: 10px;

      input {
        width: 150px;
      }
    }
  }
}

.section__form {
  display: flex;
  flex-direction: column;
}

.sidebar {
  .description {
    text-align: center;
  }

  input {
    width: 100%;
  }
  .section__display {
    padding-top: 10px;
  }
}

.experience {
  .education {
    padding-top: 40px;
  }
  h2 {
    padding-bottom: 10px;
  }
  h3 {
    padding-top: 10px;
  }
}

.App {
  width: 800px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: auto auto 1fr auto;
  gap: 10px;
  height: 100vh;
}

.App__title {
  font-family: $heading;
  font-size: $large;
  width: 800px;
  text-align: center;
  background-color: $dark-gray;
  color: #fff;
  padding: 10px 0;
}

.resume--preview {
  grid-template-rows: auto 1fr;
  .button--delete,
  .button--add,
  .button--edit,
  input,
  label,
  .description,
  .App__title {
    display: none;
  }

  article {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .sidebar {
    .section__display {
      padding-top: 0;
    }
  }
  .education {
    padding-top: 0;
  }
}
